img {
    width: 100%;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: "header header"
        "content sidebar"
        "footer footer";
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.head {
    grid-area: header;
    text-align: center;
    background-color: rgb(163, 150, 150);
}

.content {
    display: grid;
    grid-area: content;
    text-align: center;
    background-color: rgb(224, 224, 185);
}

.article {
    display: grid;
    align-content: end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

.more_1,
.more_2,
.more_3 {
    margin: 15px;
    font-size: 1em;
    text-align: center;
    background-color: rgb(221, 192, 113);
}

.more_1 {
    grid-area: 2/1/3/2;
}

.more_2 {
    grid-area: 2/2/3/3;
}

.more_3 {
    grid-area: 3/1/4/3;
}

.pic_conteiner {
    width: 30%;
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
    background-color: rgb(181, 221, 166);
}

.footer {
    grid-area: footer;
    background-color: rgb(133, 122, 122);
}

.footer_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fs_1,
.fs_2,
.fs_3,
.fs_4 {
    margin: 10px;
    font-size: 2vh;
    text-align: center;
    background-color: rgb(209, 192, 192);
}